body{
    font-family: 'Roboto Flex', sans-serif;
}
h1, h2, h3{    
    text-align: center;
}
.game{
    background-color: greenyellow;
    margin: 0 15% 0 15%;
    padding: 25px 0 25px 0;
}
.game-subpart{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;
}
.Instructions {
    max-width: 250px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
}
.rules{
    margin-bottom:25px;
}
p{
    padding: 0;
    margin: 0;
    font-size: medium;
    text-indent: 25px;
    text-align: justify;
}
.grid {
    width: 500px;
    height: 500px;
    display: flex; 
    flex-wrap: wrap;
    border-style: solid;
    background-color: white;
}
.grid div {
    width: 10px;
    height: 10px;
}
.snake {
    background-color: green;
}
.orange {
    background-color: orange;
}
button{ 
    cursor: pointer;
    padding: 12px;
    background: orange;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 15px;
}
.buttonScore-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.score {
    padding: 15px;
}